@import '../../styles/variables.scss';

.container {
  gap: 3.5rem;
  &__header {
    color: $quaternary-color;
    font-weight: bold;
    font-size: 13rem;
    text-align: center;
    margin: 0;
  }
  &__footer {
    padding-bottom: 3rem;
    margin: 0;
  }
}

.table {
  width: 750px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  &__row--highlighted {
    height: 5px;
  }
}

.text--alternative {
  font-weight: bold;
  font-size: 4.5rem;
  text-align: center;
  text-transform: uppercase;
}

.form {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  &__text {
    color: $secondary-color;
    font-weight: 600;
    font-size: 15px;
    white-space: wrap;
    align-self: center;
  }
}

.submit {
  justify-self: end;
  width: 200px;
}

.input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 350px;
  height: 7rem;
  align-self: center;
  justify-self: center;
  font-size: 2.5rem;
}
