@import '../../styles/variables.scss';

.form {
  height: 6rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;

  &__input {
    height: 6rem;
    padding: 1rem;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.5rem;
    font-size: $text-font-size;
  }
}

.text--small {
  font-size: 1.5rem;
}

.button--submit {
  justify-self: end;
  width: 15rem;
}

.page-content {
  height: 100%;
  padding: 7rem 0 4rem 0;
  max-width: 80rem;
  margin: auto;
  display: grid;
  place-items: center;
}

.banner {
  &--alternative {
    box-shadow: none;
    background-color: transparent;
    font-size: 10rem;
    text-transform: uppercase;
  }

  &--win {
    color: $tertiary-color;
  }

  &--lose {
    color: $quaternary-color;
  }
}
