.container {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.container--star-wars-effect {
  position: absolute;
  margin: 0 auto;
  -webkit-perspective: 680px;
          perspective: 680px;
  -webkit-perspective-origin: bottom;
          perspective-origin: bottom;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100vw;
}

.container--star-wars-effect .container__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fac300;
  text-align: center;
  -webkit-animation: logo-animation 15s linear;
          animation: logo-animation 15s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.container--star-wars-effect .container__logo .logo__image {
  width: 120vw;
}

.container--star-wars-effect .container--scroll {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  -webkit-animation: text-scroll 50s linear;
          animation: text-scroll 50s linear;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  text-align: center;
  width: 100vw;
}

.container--star-wars-effect .container--scroll .scroll__element {
  margin-bottom: 10rem;
}

.container--star-wars-effect .container--scroll .scroll__element:last-child {
  margin-bottom: 0;
}

.container--star-wars-effect .container--scroll p {
  -moz-user-select: none;
  -webkit-user-select: none;
  text-shadow: 0 0 4px black;
  font-size: 6rem;
}

.container--star-wars-effect .button--skip {
  position: absolute;
  top: 20px;
  right: 20px;
}

.container--authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
  display: none;
}

.container--authors .authors__list {
  text-align: center;
}

.container--authors .authors__list .list__item {
  margin-top: 2rem;
  text-shadow: 0 0 10px white;
}

.container--authors .authors__list .list__item:first-child {
  margin-top: 0;
}

.container--authors .container__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@-webkit-keyframes logo-animation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
  95% {
    opacity: 1;
    -webkit-transform: scale(0.05) translate(-50%, -50%);
            transform: scale(0.05) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.01) translate(-50%, -50%);
            transform: scale(0.01) translate(-50%, -50%);
    display: none;
  }
}

@keyframes logo-animation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
  95% {
    opacity: 1;
    -webkit-transform: scale(0.05) translate(-50%, -50%);
            transform: scale(0.05) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.01) translate(-50%, -50%);
            transform: scale(0.01) translate(-50%, -50%);
    display: none;
  }
}

@-webkit-keyframes text-scroll {
  0% {
    -webkit-transform: rotateX(21deg) translate3d(0, 0, 0) translateX(-50%);
            transform: rotateX(21deg) translate3d(0, 0, 0) translateX(-50%);
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(21deg) translate3d(0, -500vh, 0) translateX(-50%);
            transform: rotateX(21deg) translate3d(0, -500vh, 0) translateX(-50%);
    opacity: 0;
  }
}

@keyframes text-scroll {
  0% {
    -webkit-transform: rotateX(21deg) translate3d(0, 0, 0) translateX(-50%);
            transform: rotateX(21deg) translate3d(0, 0, 0) translateX(-50%);
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(21deg) translate3d(0, -500vh, 0) translateX(-50%);
            transform: rotateX(21deg) translate3d(0, -500vh, 0) translateX(-50%);
    opacity: 0;
  }
}
/*# sourceMappingURL=authors.css.map */