@import 'reset';
@import 'variables';

.background {
  background-color: #000;
  background: url('../assets/ui/background.png') fixed;
  background-size: cover;
}

.container {
  max-width: 130rem;
  height: 100vh;
  padding: 3rem 0;
  margin: 0 auto;
  display: grid;
  row-gap: 30px;
  grid-template: min-content 1fr min-content / 80%;
  justify-items: stretch;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.button {
  width: $button-width;
  height: $button-height;
  border: none;
  border-radius: 0.9rem;
  outline: none;
  box-shadow: inset 0.2rem 0.3rem 0.4rem rgb(0, 0, 0.5),
    0.4rem 0.4rem 4rem $primary-color;
  background-color: $primary-color;
  color: $primary-font-color;
  text-align: center;
  font-size: $button-font-size;
  line-height: $button-height;
  font-weight: 600;
  cursor: pointer;
  user-select: none;

  @media (max-width: 800px) {
    height: $button-height-mobile;
    line-height: $button-height-mobile;
    border-radius: 9999px;
    margin-bottom: 20px;
  }

  &--large {
    width: $button-width-large;
    height: $button-height-large;
    font-size: $button-font-size-large;
    line-height: $button-height-large;

    @media (max-width: 800px) {
      width: $button-width;
      height: $button-height-mobile;
      font-size: $button-font-size;
      line-height: $button-height-mobile;
      order: -1;
    }
  }

  &--alternative {
    background-color: $tertiary-color;
    box-shadow: inset 0.2rem 0.3rem 0.4rem rgb(0, 0, 0.5),
      0.4rem 0.4rem 4rem $tertiary-color;
  }
}

.banner {
  width: 100%;
  height: $banner-height;
  border-radius: 0.9rem;
  margin: 0 auto;
  display: grid;
  place-items: center;
  box-shadow: inset 0.2rem 0.3rem 0.4rem rgb(0, 0, 0.5),
    0.4rem 0.4rem 4rem $primary-color;
  background-color: $primary-color;
  color: $primary-font-color;
  font-size: $banner-font-size;
  font-weight: 600;

  @media (max-width: 600px) {
    height: unset;
    text-align: center;
    padding: 10px;
  }
}

.selector {
  width: $selector-width;
  height: $selector-height;
  border: none;
  border-radius: 0.9rem;
  outline: none;
  background-color: $secondary-color;
  color: $primary-font-color;
  font-size: $selector-font-size;
  font-weight: 600;
  cursor: pointer;
  user-select: none;

  @media (max-width: 800px) {
    border-radius: 9999px;
    height: $button-height-mobile;
  }

  &--static {
    outline: none;
    box-shadow: inset 0.2rem 0.3rem 0.4rem rgb(0, 0, 0.5),
      0.4rem 0.4rem 4rem $primary-color;
    background-color: $primary-color;
    cursor: default;
  }

  &--selected {
    border: 0.5rem solid $primary-color;
    box-shadow: 0.4rem 0.4rem 4rem $primary-color;

    @media (max-width: 800px) {
      box-shadow: inset 4px 4px 8px 0px rgba(0,0,0,0.75);
    }
  }
}

.text {
  color: $secondary-font-color;
  font-size: $text-font-size;
  font-weight: 600;

  &--large {
    font-size: $text-font-size-large;
    font-weight: 700;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--alternative {
    color: $tertiary-font-color;
  }
}

.table {
  width: 100%;
  height: calc(4rem * 3 + 4.5rem);
  border-radius: $table-border;
  position: relative;
  display: block;
  background-color: $secondary-color;
  text-align: left;
  font-size: $table-font-size;
  font-weight: 600;
  overflow-y: scroll;

  @media (max-width: 600px) {
    height: 30vh;
  }

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $table-border;
    background-color: $primary-color;
  }

  &--no-scroll {
    overflow-y: auto;
  }

  &--limited {
    height: calc(4rem * 2 + 4.5rem);
  }

  &__body,
  &__head {
    width: 100%;
    display: block;
  }

  &__body {
    .table__body {
      word-break: break-word;
    }
  }

  &__head, &__row {
    @media (max-width: 350px) {
      width: 120%;
    }
  }

  &__head {
    height: 4.5rem;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background: $secondary-color;
    font-weight: 700;
  }

  &__row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    @media (max-width: 300px) {
      text-align: center;
    }

    &--highlighted {
      background: $primary-color;
    }
  }

  &__data {
    padding-left: 7%;
  }

  &__row:last-child &__data:first-child {
    border-bottom-left-radius: $table-border;
  }
}
