//// COLORS ////
$primary-color: #fac300;
$secondary-color: #fff;
$tertiary-color: #70b5f5;
$quaternary-color: #ff0000;
$quinary-color: #bcbcbc;

//// FONT COLORS ////
$primary-font-color: #000;
$secondary-font-color: #fff;
$tertiary-font-color: #fac300;

//// BUTTON SIZES ////
$button-width: 19rem;
$button-width-large: 22rem;
$button-height: 6rem;
$button-height-large: 8rem;
$button-font-size: 2rem;
$button-font-size-large: 3rem;

//// BANNER SIZES ////
$banner-width: 70%;
$banner-height: 7rem;
$banner-font-size: 3.3rem;

//// SELECTOR SIZES ////
$selector-width: 16rem;
$selector-height: 5rem;
$selector-font-size: 2rem;

//// TEXT SIZES ////
$text-font-size: 2.3rem;
$text-font-size-large: 2.7rem;

//// TABLE SIZES ////
$table-font-size: 2.5rem;
$table-border: 1rem;
