//// COLORS ////
$primary-color: #fac300;
$secondary-color: #fff;
$tertiary-color: #70b5f5;
$quaternary-color: #ff0000;

//// FONT COLORS ////
$primary-font-color: #000;
$secondary-font-color: #fff;
$tertiary-font-color: #fac300;

//// BUTTON SIZES ////
$button-width: 23rem;
$button-width-large: 28rem;
$button-height: 7rem;
$button-height-large: 9rem;
$button-font-size: 2.5rem;
$button-font-size-large: 3.5rem;

//// BANNER SIZES ////
$banner-width: 80%;
$banner-height: 8rem;
$banner-font-size: 3.5rem;

//// SELECTOR SIZES ////
$selector-width: 20rem;
$selector-height: 6rem;
$selector-font-size: 2.5rem;

//// TEXT SIZES ////
$text-font-size: 2.5rem;
$text-font-size-large: 3rem;

//// TABLE SIZES ////
$table-font-size: 2.5rem;
