@import '../../styles/variables.scss';

.page-content {
  height: 100%;
  width: 90%;
  padding: 6rem 0;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  align-items: center;
}

.selector--empty {
  opacity: 0;
  pointer-events: none;
}
