@import '../../styles/variables.scss';

.page-content {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.selector-container {
  display: grid;
  grid-template: repeat(4, min-content) / repeat(4, min-content);
  align-items: center;
  align-content: center;
  justify-content: center;
  row-gap: 3rem;
  column-gap: 2rem;
}

.selector--empty {
  opacity: 0;
  pointer-events: none;
}

.category-image {
  align-self: center;

  &__image {
    width: 17rem;
    border-radius: 1.6rem;
    box-shadow: 4px 4px 40px $primary-color;
  }

  &__label {
    text-align: center;
  }
}
