.page-content {
  height: 100%;
  width: 80rem;
  margin: 0 auto;
  display: grid;
  align-content: space-evenly;
}

.selector-container {
  display: flex;
  justify-content: space-between;
}

.table {
  &__empty {
    font-weight: 600;
    line-height: 5.5;
  }

  &__element {
    padding-left: 1.5em;
  }
}
