.page-content {
  height: 100%;
  width: 80rem;
  margin: 0 auto;
  display: grid;
  align-content: space-evenly;
}

.selector-container {
  display: flex;
  justify-content: space-between;
}

.table__data--wide {
  grid-column: span 3;
}
