@import '../../styles/variables.scss';

.question-image {
  border-radius: 1.6rem;
  box-shadow: 4px 4px 40px $primary-color;
}

.page-content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 23rem 1fr;
  align-items: center;
}

.selector-container {
  display: grid;
  grid-template: repeat(2, min-content) / repeat(2, min-content);
  justify-content: space-evenly;
  row-gap: 5rem;
}

.selector {
  &--game {
    width: 20vw;
  }

  &--wrong {
    border: 6px solid $quaternary-color;
    box-shadow: 0 0 20px $quaternary-color;
  }

  &--correct {
    border: 6px solid $tertiary-color;
    box-shadow: 0 0 20px $tertiary-color;
  }
}

.light-timer {
  display: flex;
  align-items: center;

  &__timer {
    position: relative;
    width: 100%;
    height: 2rem;
    margin-left: -3rem;
  }

  &__background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $quinary-color;
    border-radius: 8px;
  }

  &__blade {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 8px;
    background-color: $secondary-color;
    box-shadow: 10px -5px 15px $tertiary-color, 10px 5px 15px $tertiary-color;
    transition: width 0.99s linear, box-shadow 2.5s linear;
  }
}

.timer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  transition: text-shadow 1s linear;
  text-shadow: 4px 4px 40px $tertiary-color;
  transition: text-shadow 2.5s linear;
}

.text--colored {
  color: $tertiary-color;
  transition: color 2.5s linear;
}
