@import '../../styles/variables.scss';

.text {
  &--colored {
    color: $quaternary-color;
  }

  &--shadowed {
    text-shadow: 4px 4px 40px $quaternary-color;
  }
}

.question-image {
  border-radius: 1.6rem;
  box-shadow: 4px 4px 40px $primary-color;
}

.page-content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 23rem 1fr;
  align-items: center;
}

.selector-container {
  display: grid;
  grid-template: repeat(2, min-content) / repeat(2, min-content);
  justify-content: space-evenly;
  row-gap: 5rem;
}

.selector {
  &--game {
    width: 20vw;
  }

  &--red {
    border: 6px solid $quaternary-color;
    box-shadow: 0 0 20px $quaternary-color;
  }

  &--blue {
    border: 6px solid $tertiary-color;
    box-shadow: 0 0 20px $tertiary-color;
  }
}

.light-timer {
  position: relative;
  width: 100%;
  height: 2rem;
  margin-left: -3rem;

  &__background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bcbcbc;
    border-radius: 8px;
  }

  &__countdown-timer {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 8px;
    background-color: #ffffff;
    transition: width 0.99s linear, box-shadow 1s linear;
  }
}

.timer {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  &__text {
    transition: color 1s linear, text-shadow 1s linear;
    
    &--margin {
      margin-left: 20px; 
    }
  }
}
